<!DOCTYPE html>
<html>

<head>

    <title>{{title}}</title>

</head>

<body>

    <h1>tag h1: Задание 1</h1>
    <h2>h2: Дизайн страницы приложения</h1>
        <p>tag ul:
        <ul>
            {% for m in menu %}
            <li>{{m}}</li>
            {% endfor %}
        </ul>
        </p>
        <div>tag div: Создать html страницу, добавить следующие элементы разметки: заголовок первого и второго уровня,
            блоки
            текста (div и p), таблицу, картинку, ссылки на внешние источники данных.</div>
        <p>tag p: Наполнение страницы данными может быть любым (например, может содержать информацию на пройденную ранее
            тему
            python или информацию по какой-то теме, связанной с вашей специальностью)</p>
        <p>tag a:
            <a href="/ancs/anc_1">go anc_1</a>
        </p>
        <p>tag img:
            <img src="/static/img/work11.png" alt="python logo" width="200" />
        </p>
</body>

</html>